.me{
    position:;
    left:10px;
    background: rgb(175, 45, 235);
    padding: 50px;
    margin: 20px;
    
}
.mine{
    position:;
    right:px;
    
    
    
}
.social.icons{
    with: 200px;
    height: 200px;
}
